* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    border-bottom: 2px solid #000;
}

main > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > div > div {
    width: 70%;
}

#drop-zone {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c7;
    border: dashed #000 4px;
}

#drop-zone.drag-over {
    border-color: #4d43ff;
    background-color: #7da1ff;
}

#drop-zone.drag-over p {
    color: #4d43ff;
}

#drop-zone.is-displaying {
    border-style: solid;
    border-width: 1px;
}

#upload-button {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.action-buttons {
    display: flex;
    width: 100%;
    justify-content: end;
    padding-top: 20px;
    gap: 20px;
}

.action-buttons > button {
    padding: 10px;
    border-radius: 0px;
    border: 2px solid #000;
}

.action-buttons > button:disabled {
    border-color: gainsboro;
}

.marker {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    z-index: 3;
    transform: translateX(-50%) translateY(-50%);
    transition: scale 0.2s ease;
}

.marker:hover {
    scale: 1.3;
}
